# Ignorar todo por defecto
*

# Permitir directorios para que Git pueda ver archivos dentro
!*/

# Permitir archivos .java y .py en cualquier subdirectorio
!**/*.java
!**/*.py
!README.md
!**/*.md

# También permitir el archivo .gitignore
!.gitignore

# Ignorar archivos específicos de Eclipse
.classpath
.project
.settings/
bin/
target/

# Ignorar archivos temporales de Python
__pycache__/
*.pyc
*.pyo
*.pyd
